.StockKeeperHome {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('./../asset/login-image.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    color: white; 
  }
  
  .StockKeeperHome-header {
    background-color: rgba(40, 44, 52, 0.8); 
    padding: 20px;
    color: white;
  }
  
  .StockKeeperHome-footer {
    background-color: rgba(40, 44, 52, 0.8);
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
  } 
